@using Obius.DigitalInvoice.Services;
@inject NavigationManager uriHelper;
@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode/>
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Obius.DigitalInvoice</PageTitle>
<MudLayout>
    <div class="min-h-screen bg-pr overflow-x-hidden">
        <div data-rk>
            <style>
                [data-rk] {
                    --rk-blurs-modalOverlay: blur(0px);
                    --rk-fonts-body: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    --rk-radii-actionButton: 9999px;
                    --rk-radii-connectButton: 12px;
                    --rk-radii-menuButton: 12px;
                    --rk-radii-modal: 24px;
                    --rk-radii-modalMobile: 28px;
                    --rk-colors-accentColor: #0E76FD;
                    --rk-colors-accentColorForeground: #FFF;
                    --rk-colors-actionButtonBorder: rgba(0, 0, 0, 0.04);
                    --rk-colors-actionButtonBorderMobile: rgba(0, 0, 0, 0.06);
                    --rk-colors-actionButtonSecondaryBackground: rgba(0, 0, 0, 0.06);
                    --rk-colors-closeButton: rgba(60, 66, 66, 0.8);
                    --rk-colors-closeButtonBackground: rgba(0, 0, 0, 0.06);
                    --rk-colors-connectButtonBackground: #FFF;
                    --rk-colors-connectButtonBackgroundError: #FF494A;
                    --rk-colors-connectButtonInnerBackground: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.06));
                    --rk-colors-connectButtonText: #25292E;
                    --rk-colors-connectButtonTextError: #FFF;
                    --rk-colors-connectionIndicator: #30E000;
                    --rk-colors-downloadBottomCardBackground: linear-gradient(126deg, rgba(255, 255, 255, 0) 9.49%, rgba(171, 171, 171, 0.04) 71.04%), #FFFFFF;
                    --rk-colors-downloadTopCardBackground: linear-gradient(126deg, rgba(171, 171, 171, 0.2) 9.49%, rgba(255, 255, 255, 0) 71.04%), #FFFFFF;
                    --rk-colors-error: #FF494A;
                    --rk-colors-generalBorder: rgba(0, 0, 0, 0.06);
                    --rk-colors-generalBorderDim: rgba(0, 0, 0, 0.03);
                    --rk-colors-menuItemBackground: rgba(60, 66, 66, 0.1);
                    --rk-colors-modalBackdrop: rgba(0, 0, 0, 0.3);
                    --rk-colors-modalBackground: #FFF;
                    --rk-colors-modalBorder: transparent;
                    --rk-colors-modalText: #25292E;
                    --rk-colors-modalTextDim: rgba(60, 66, 66, 0.3);
                    --rk-colors-modalTextSecondary: rgba(60, 66, 66, 0.6);
                    --rk-colors-profileAction: #FFF;
                    --rk-colors-profileActionHover: rgba(255, 255, 255, 0.5);
                    --rk-colors-profileForeground: rgba(60, 66, 66, 0.06);
                    --rk-colors-selectedOptionBorder: rgba(60, 66, 66, 0.1);
                    --rk-colors-standby: #FFD641;
                    --rk-shadows-connectButton: 0px 4px 12px rgba(0, 0, 0, 0.1);
                    --rk-shadows-dialog: 0px 8px 32px rgba(0, 0, 0, 0.32);
                    --rk-shadows-profileDetailsAction: 0px 2px 6px rgba(37, 41, 46, 0.04);
                    --rk-shadows-selectedOption: 0px 2px 6px rgba(0, 0, 0, 0.24);
                    --rk-shadows-selectedWallet: 0px 2px 6px rgba(0, 0, 0, 0.12);
                    --rk-shadows-walletLogo: 0px 2px 16px rgba(0, 0, 0, 0.16);
                }</style>
            <MudAppBar Style="background-color:#242834">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <div class=" w-full flex items-center justify-between pr-10">
                    <div class=" flex space-x-2 justify-center">
                        
                    </div>

                    <div class="flex space-x-2 justify-center">
                        @if (!isConnected)
                        {
                            <button type="button" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" @onclick="ConnectAsync">Connect Wallet</button>
                        }
                        else
                        {
                            <button type="button" class="inline-block px-6 py-2.5 bg-blue-600 text-black font-bold text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg  focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out" style="background-color:aliceblue;color:black" @onclick="OpenModal">@SelectedAddress</button>
                        }
                    </div>
                </div>
            </MudAppBar>
            <MudDrawer @bind-Open="@_drawerOpen" Style="background-color:#242834">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                @Body
                <MudMessageBox @ref="mbox" CancelText="Disconnect">
                    <MessageContent>
                        <MudGrid Class="d-flex align-content-center flex-wrap flex-grow-1 gap-4">
                            <MudItem xs="12" Class="d-flex align-content-center flex-wrap flex-grow-1">
                                <div class="rounded-full" style="height: 82px; width: 82px;">
                                    <div class="rounded-full" style="font-size: 45px; height: 82px; width: 82px;">
                                        <div class="rounded-full flex justify-content-center" style="background-color: rgb(255, 226, 121); height: 82px; width: 82px;">
                                            🙀
                                        </div>
                                    </div>
                                </div>
                            </MudItem>
                            <MudItem xs="12">
                                <div>
                                    <p class="font-bold font-medium text-white text-2xl">@SelectedAddress</p>
                                </div>
                            </MudItem>
                            <MudItem xs="12">
                                <div>
                                    <p class="font-medium text-base text-white">@CurrentBalance ETH</p>
                                </div>
                            </MudItem>
                        </MudGrid>
                        
                    </MessageContent>
                    <CancelButton>
                        <MudButton Variant="Variant.Outlined"  StartIcon="@Icons.Material.Filled.Logout">Disconnect</MudButton>
                    </CancelButton>
                    <YesButton>
                        <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.ContentCopy">Copy Address</MudButton>
                    </YesButton>
                </MudMessageBox>
            </MudMainContent>
        </div>
    </div>
</MudLayout>
@code {
    MudMessageBox mbox { get; set; }
    string state = "Message box hasn't been opened yet";

    private async void OpenModal()
    {
        await GetBalanceAsync();
        bool? result = await mbox.Show();
        if (result is null)
            DisconnectAsync();
        else
        {
            await JSRequest.CopyToClipboard(WalletAddress);
        }
        state = result == null ? "Disconnect" : "Copy Address";
        StateHasChanged();
    }
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}